/*!
 * Start Bootstrap - Kiwi-Du v0.0.8 (kiwi-du.com)
 * Copyright 2019-2020 Dmitrii Bludov
 */

body {
  font-family: 'Muli', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  padding-top: 54px;
  color: #868e96;
}

@media only screen and (min-width: 992px) {
  body {
    padding-top: 0;
    padding-left: 17rem;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Saira Extra Condensed', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  font-weight: 700;
  text-transform: uppercase;
  color: #343a40;
}

h1 {
  font-size: 6rem;
  line-height: 5.5rem;
}

h2 {
  font-size: 3.5rem;
}

h3 {
  font-size: 2rem;
}

p,
.ul-as-p {
  font-size: 1.15rem;
  font-weight: 400;
  text-align: justify;
  color: #211a1e;
}

.blockquote {
  text-align: center;
}

.subheading {
  text-transform: uppercase;
  font-weight: 500;
  font-family: 'Saira Extra Condensed', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  font-size: 1.5rem;
}

.green-text {
  color: #9bc53d;
}

.social-icons a {
  display: inline-block;
  height: 3.5rem;
  width: 3.5rem;
  background-color: #495057;
  color: #fff !important;
  border-radius: 100%;
  text-align: center;
  font-size: 1.5rem;
  line-height: 3.5rem;
  margin-right: 1rem;
}

.social-icons a:last-child {
  margin-right: 0;
}

.social-icons a:hover {
  background-color: #e53939;
}

.dev-icons {
  font-size: 3rem;
}

.dev-icons .list-inline-item i:hover {
  color: #e53939;
}

.left-side-text {
  flex: 1 1 60%;
}

.svg-star {
  flex: 1 1 auto;
  margin-top: -5rem;
}

.book-sample-title {
  text-align: center;
  margin: 0;
}

#book-wrapper {
  margin-left: auto;
  margin-right: auto;
  max-width: 80%;
}

#book-container {
  float: left;
  padding: 1em;
  width: 100%;
}

/*** OPEN BOOK ***/
.open-book-bg {
  background: #fff;
  box-shadow: rgba(0, 0, 0, 0.5) 0 1em 3em;
  color: #000;
  padding: 2em;
}

.open-book-bg * {
  position: relative;
}

/*** STAR ***/
.book-sticker {
  width: 30%;
}

/*** AUDIO PLAYERS ***/
.audio-player {
  text-align: center;
}

/*** AUTHORS SECTION ***/
.author-img-container {
  text-align: center;
}

.author-img {
  border-radius: 5%;
  max-width: 80%;
  box-shadow: 3px 4px #c4c4c470;
}

.about-authors {
  flex: 1 0 50%;
}

figcaption {
  text-align: center;
  margin-top: 5px;
}

/*** MEDIA QUERIES FOR OPEN BOOK***/
@media only screen and (min-width: 50em) {
  .open-book-bg {
    margin: 1em;
    position: relative;
  }
  .open-book-bg:before {
    background-color: #fde74c;
    border-radius: 0.25em;
    bottom: -1em;
    content: '';
    left: -1em;
    position: absolute;
    right: -1em;
    top: -1em;
    z-index: -1;
  }
  .open-book-bg:after {
    background: linear-gradient(to right, transparent 0%, rgba(0, 0, 0, 0.2) 46%, rgba(0, 0, 0, 0.5) 49%, rgba(0, 0, 0, 0.6) 50%, rgba(0, 0, 0, 0.5) 51%, rgba(0, 0, 0, 0.2) 52%, transparent 100%);
    bottom: -1em;
    content: '';
    left: 50%;
    position: absolute;
    top: -1em;
    transform: translate(-50%, 0);
    width: 4em;
    z-index: 1;
  }
  .open-book-bg > * {
    -moz-column-count: 2;
    column-count: 2;
    -moz-column-gap: 6em;
    column-gap: 6em;
    position: relative;
    z-index: 1;
  }
}

/*** MEDIA QUERIES FOR STAR***/
@media only screen and (max-width: 900px) {
  h1, h2, h3 {
    text-align: center;
  }
  h1 {
    font-size: 4rem;
  }
  .front-page-text {
    flex-flow: row wrap;
  }
  .svg-star {
    margin-top: 0;
    max-width: 400px;
  }
  .about-authors-wrapper {
    flex-flow: column nowrap;
  }
  #book-wrapper {
    max-width: 100%;
  }
  .open-book-bg {
    padding: 1em;
  }
}

#sideNav .navbar-nav .nav-item .nav-link {
  font-weight: 800;
  letter-spacing: 0.05rem;
  text-transform: uppercase;
}

#sideNav .navbar-toggler:focus {
  outline-color: #b9d778;
}

@media (min-width: 992px) {
  #sideNav {
    text-align: center;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    width: 17rem;
    height: 100vh;
  }
  #sideNav .navbar-brand {
    display: flex;
    margin: auto auto 0;
    padding: 0.5rem;
  }
  #sideNav .navbar-brand .img-profile {
    max-width: 10rem;
    max-height: 10rem;
    box-shadow: 6px 6px rgba(0, 0, 0, 0.28);
  }
  #sideNav .navbar-collapse {
    display: flex;
    align-items: flex-start;
    flex-grow: 0;
    width: 100%;
    margin-bottom: auto;
  }
  #sideNav .navbar-collapse .navbar-nav {
    flex-direction: column;
    width: 100%;
  }
  #sideNav .navbar-collapse .navbar-nav .nav-item {
    display: block;
  }
  #sideNav .navbar-collapse .navbar-nav .nav-item .nav-link {
    display: block;
  }
}

section.resume-section {
  padding-top: 5rem !important;
  padding-bottom: 5rem !important;
}

section.resume-section .resume-item .resume-date {
  min-width: none;
}

@media (min-width: 768px) {
  section.resume-section {
    min-height: 100vh;
  }
  section.resume-section .resume-item .resume-date {
    min-width: 18rem;
  }
}

@media (min-width: 992px) {
  section.resume-section {
    padding-top: 3rem !important;
    padding-bottom: 3rem !important;
  }
}

.bg-primary {
  background-color: #e53939 !important;
}

.text-primary {
  color: #e53939 !important;
}

a {
  color: #e53939;
}

a:hover, a:focus, a:active {
  color: #b91818;
}
