// Global styling for this template

body {
  @include body-font;
  padding-top: 54px;
  color: $gray-600;
}
@media (min-width: 992px) {
  body {
    padding-top: 0;
    padding-left: $sidebar-base-width;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @include heading-font;
  font-weight: 700;
  text-transform: uppercase;
  color: $gray-800;
}

h1 {
  font-size: 6rem;
  line-height: 5.5rem;
}

h2 {
  font-size: 3.5rem;
}

h3 {
  font-size: 2rem;
}

p,
.ul-as-p {
  font-size: 1.15rem;
  font-weight: 400;
  text-align: justify;
  color: $info;
}

.subheading {
  text-transform: uppercase;
  font-weight: 500;
  @include heading-font;
  font-size: 1.5rem;
}

.green-text {
  color: $success;
}

.social-icons {
  a {
    display: inline-block;
    height: 3.5rem;
    width: 3.5rem;
    background-color: $gray-700;
    color: $white !important;
    border-radius: 100%;
    text-align: center;
    font-size: 1.5rem;
    line-height: 3.5rem;
    margin-right: 1rem;
    &:last-child {
      margin-right: 0;
    }
    &:hover {
      background-color: $primary;
    }
  }
}

.dev-icons {
  font-size: 3rem;
  .list-inline-item i {
    &:hover {
      color: $primary;
    }
  }
}

.book-sample-title {
  text-align: center;
  margin: 0;
}

#book-wrapper {
  margin-left: auto;
  margin-right: auto;
  max-width: 80em;
}

#book-container {
  float: left;
  padding: 1em;
  width: 100%;
}

/*** OPEN BOOK ***/
.open-book-bg {
  background: #fff;
  box-shadow: rgba(0,0,0,0.5) 0 1em 3em;
  color: #000;
  padding: 2em;
}

.open-book-bg * {
  position: relative;
}

/*** MEDIA QUERIES ***/
@media only screen and ( min-width: 50em ) {

  .open-book-bg {
      margin: 1em;
      position: relative;
  }

  .open-book-bg:before {
      background-color: $secondary;
      border-radius: 0.25em;
      bottom: -1em;
      content: '';
      left: -1em;
      position: absolute;
      right: -1em;
      top: -1em;
      z-index: -1;
  }

  .open-book-bg:after {
      background: linear-gradient(to right, transparent 0%,rgba(0,0,0,0.2) 46%,rgba(0,0,0,0.5) 49%,rgba(0,0,0,0.6) 50%,rgba(0,0,0,0.5) 51%,rgba(0,0,0,0.2) 52%,transparent 100%);
      bottom: -1em;
      content: '';
      left: 50%;
      position: absolute;
      top: -1em;
      transform: translate(-50%,0);
      width: 4em;
      z-index: 1;
  }

  .open-book-bg > * {
      column-count: 2;
      column-gap: 6em;
      position: relative;
      z-index: 1;
  }
}